.liClass{
	padding: 10px !important;
	
	
}

.liClass:hover {
	background-color:#e3e3e3;
}

.btn-group ul{
	position: absolute;
    top: 0px;
    left: auto;
    width: 300px !important;
    right: 0px;
}
}